@charset "UTF-8";
@import '../../assets/styles/_basic';

.greeting {
  margin-top: 2em;
}

#profile {
  .container {
    margin-bottom: 2em;
    border-radius: .25rem;
    border: 1px solid $borderSecondary;
    padding: 1em;
    background: $formBackground;

    &.form {
      padding: 2em;
    }
  }

  .withTopMargin {
    margin-top: 1.5em;
  }

  #family, #dietary, #confirmed,
  #automaticRoommate, #manualRoommate {
    display: inline-block;
    margin-right: .5em;
    margin-top: -.2em;
    vertical-align: middle;
    width: auto;
  }

  #family, #dietary {
    &.fadeOut {
      margin-bottom: -.5em;
    }
  }

  #confirmationHelp {
    margin-bottom: -.5em;
  }

  .requestButton {
    vertical-align: bottom;

    .col-form-label {
      visibility: hidden;
    }
  }
  #price {
    margin-top: 2em;
    margin-bottom: 0;
  }

  #priceTable {
    border-spacing: 1em;
    border-collapse: unset;
    .price {
      text-align: right;
    }
    .cost {
      color: $red;
    }
    .income {
      color: $green;
    }
  }

  #social {
    display: block;
  }
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  max-height: 100%;
  height: auto;
  transition: opacity .5s, max-height .5s;
  transition-timing-function: ease-out;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: opacity .5s, max-height .5s, margin-bottom .5s, visibility .5s;
  transition-timing-function: ease-out;
}

label.required:after {
  content: "*";
  font-size: .6em;
  vertical-align: super;
}